$lotteryK88: true;
$lotteryTf: false;
$lotteryHm: false;
$lotteryIg: false;

$cFFfFFF: #ffffff;
$cffC63A: #FFC63A;
$c131313: #131313;
$c1c1c1c: #1c1c1c;
$c999999: #999999;
$c313131: #313131;
$cCccCCc: #cccccc;
$c494949: #494949;
$c3f3f3f: #3f3f3f;
$cgray: #131313;
$cEbebeb: #EBEBEB;
@if ($lotteryK88) {}
@else if($lotteryK88){}
@else {}
